.idea/
.data/
tmp/
.env
node_modules/
src/types
generated

bin/
.DS_Store
coverage/
coverage.json
scripts/*.js
test/*.js

hardhat.config.ts
truffle-config.js

log/
*.log
!deployments/*.log
*~
*.swp
*.swo

yarn.lock
package-lock.json
.privatekey.ts
*-e
nohup.out
.zrx_mesh_data

